body {
    font-family: 'Poppins';
}

nav ul li {
    display: inline;
    padding-right: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-container {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #fea50096;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.web-title {
    font-size: 60px;
    font-weight: 700;
}

.container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 20px;
}

.text-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-dark {
    background-color: #232323;
    color: #fff;
}

.section-title {
    font-size: 45px;
}

.grey-section {
    background-color: #ddd;
    padding-top: 3%;
    padding-bottom: 3%;
}

.custom-container {
    width: 80%;
    margin: auto;
}

.blog-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.socials {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.socials i {
    background-color: #232323;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 20px;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
